*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #ffdb00;
  background-image: url("./Images/brandLogo.png");
  background-position: center;
  background-size: 250px;
  background-repeat: no-repeat;
  padding: 40px;
}

#main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-image: url("./Images/landingBG.jpg");
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: center;
  justify-content: flex-end;
}

main {
  margin: 20px 30px;
}

#main-text-container {
  color: #fff;
  align-self: flex-end;
}

#main-text-container > h1 {
  line-height: 1;
  font-size: 40px;
  align-self: flex-end;
}

#main-buttons-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#main-buttons-container button a {
  cursor: pointer;
  text-decoration: none;
}

#GDS-button-container > button {
  border: 2px dashed #000;
  font-size: 32px;
  line-height: 1;
  padding: 20px 30px;
  border-radius: 4px;
}
#GDS-button-container > button a {
  color: #0070c0;
}

#book-button-container > button {
  background-color: #ffdb00;
  padding: 10px 25px;
  border: none;
  font-size: 30px;
}

#book-button-container > button a {
  color: #595959;
}

@media screen and (max-width: 700px) {
  #main-container {
    background-size: 350%;
  }
  #main-buttons-container {
    flex-direction: column;
    gap: 10px;
  }
  #main-buttons-container * {
    width: 100% !important;
  }
}

/* For Book Page */

.book-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-main-container h3 {
  margin: 5px;
}

.book-main-container > table {
  border-collapse: collapse;
  aspect-ratio: 1 / 1;
  width: 100%;
}

.table-caption {
  color: #ffc000;
  font-size: 38px;
  text-align: center;
}

.book-main-container > table > thead {
  color: #ffc000;
  text-align: center;
}

.book-main-container > table > tbody td {
  border: 1px solid #000;
  vertical-align: top;
  background-color: #92d050;
  cursor: pointer;
}

.red-cell {
  background-color: #f00 !important;
}

.book-main-buttons-container {
  width: 100%;
}

.book-main-buttons-container button {
  padding: 10px 25px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  width: 100%;
}

.book-main-buttons-container a button {
  text-decoration: none;
  color: #595959;
  cursor: pointer;
}

.back-button-container button {
  background-color: #d9d9d9;
}

.next-button-container button {
  background-color: #ffdb00;
}

@media screen and (min-width: 500px) {
  .book-main-buttons-container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 600px) {
  .book-main-container > table {
    aspect-ratio: unset;
    width: fit-content;
  }
  .book-main-container > table > tbody td {
    width: 100px !important;
    height: 100px !important;
  }
}
